::-webkit-scrollbar {
  width: 11px;
}
 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 12px rgba(0,0,0,0.8); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background:white;
  border:1px solid #999;
  -webkit-box-shadow: inset 0 0 6px rgba(222,222,222,0.9); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background:white;
}
footer{
    text-align: center;
    padding-top: 10px;
}
.table{
    tbody{
        tr{
            td{
                vertical-align: middle;
                .glyphicon{
                    cursor: pointer;
                }
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
    thead{
      tr{
        th{
          cursor: pointer;
        }
      }
    }
}
select{
    padding: 3px 6px !important;
}
input[type='checkbox']:hover{
    cursor: pointer;
}
.knowPoint{
    margin: 3px;
}