footer{
    text-align: center;
    padding-top: 10px;
}
.table{
    tbody{
        tr{
            td{
                vertical-align: middle;
                .glyphicon{
                    cursor: pointer;
                }
            }
        }
    }
}
select{
    padding: 3px 6px !important;
}
input[type='checkbox']:hover{
    cursor: pointer;
}